// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --cod-gray-strong: #0A0A0A;
  --cod-gray: #1B1B1B;
  --silver-chalice: #9E9E9E;
  --wild-sand: #f5f5f5;
  --christalle: #31006F;
  --bay-of-many: #255B7D;
  --dodger-blue: #19AFFE;
  
  
  /* RGB para transparência */
  --cod-gray-rgb: 27, 27, 27;
  --christalle-rgb: 49, 0, 111;
  --dodger-blue-rgb: 25, 175, 254;
}
